html { font-size: 10px;
}

body {
    font-family: Arial, Helvetica Sans-serif;
    font-size: 1.2rem;
}

h1 {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-style: normal;
    margin:0;
}
.progres {
    height: 10px;
    background: rgb(156, 239, 160);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    scale: 0.2 1;
    animation: analitzador linear;
    -webkit-animation-timeline: scroll();
       -moz-animation-timeline: scroll();
            animation-timeline: scroll();

}

@keyframes analitzador {
    to{
        scale: 1 1;
    }
}

@media (max-width: 480px) {
    body {
      background-color: rgb(228, 171, 171);
    }
}

@media (min-width:481px) and (max-width:1279px){
    body {
        background-color:rgb(210, 184, 238);
    }
}
  
@media (min-width: 1280px) {
    body {
      background-color: rgb(238, 243, 177);
    }
}

